@media (max-width:1200px) {
    
}
@media (min-width:1001px) {
    .show-menu {
        display: none;
    }
}
@media (max-width:1000px) {
    
    .header,
    .header.active {
        background: #fff;
        padding: 15px 0px 20px;
    }
    .header .logo,
    .header.active .logo {
        width: 84px;
        height: 24px;
        background: url(/images/logo.png) no-repeat;
        background-size: 84px 24px;
        transition: 0.3s ease;
    }
    .header-top .container {
        padding: 0 18px;
        position: relative;
    }
    .show-menu {
        height: 20px;
        position: absolute;
        width:22px;
        right: 18px;
        top:7px;
        display: block;
    }
    .show-menu span {
        display: block;
        width:100%;
        height: 2px;
        background: #000;
        margin: 4px 0 0;
    }
    .show-menu span:first-child {
        margin: 0;
    }
    .slide-prev, .slide-next {
        background: none;
    }
    .slide-prev {
        left: 38px;
    }
    .slide-next {
        right: 38px;
    }
    .slide-prev i, .slide-next i {
        font-size: 24px;
    }
    .features-list li {
        width:100%;
        float: none;
        margin: 25px 0 0 0;
    }
    .features-list li:first-child {margin: 0;}
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 14px;
    }
    .slog-slide p {
        font-size: 20px;
        line-height: 35px;
        padding-left: 3%;
        padding-right: 3%;
    }
    .stats-list li {
        width:100%;
        float: none;
        margin: 25px 0 0;
    }
    .stats-list li:first-child {
        margin: 0;
    }
    .stat-value {
        font-size: 45px;
        line-height: 45px;
    }
    .stat-symbol {
        font-size: 35px;
        line-height: 35px;
    }
    .stat-symbol.plus {
        font-size: 40px;
        line-height: 40px;
    }
    .stat-text {
        font-size: 14px;
        line-height: 22px;
    }
    .sign-up {
        padding: 120px 14px;
    }
    .benefits-list li {
        width:100%;
        float: none;
        padding: 0;
        margin: 25px 0 0;
    }
    .benefits-list li:first-child {margin: 0;}
    .benefit-title {
        font-size: 18px;
        line-height: 25px;
    }
    .title-box {
        font-size: 18px;
        line-height: 18px;
    }
    .benefits-list {
        margin: 40px 0 0;
    }
    .sign-form {
        width:100%;
    }
    .col-md-6,
    .col-md-4,
    .store-item,
    .col-md-3 {
        width:100%;
        float: none;
        padding: 0 3%;
    }
    .tech-top > div {
        margin: 25px 0 0 0;
    }
    .tech-top > div:first-child {
        margin: 0;
    }
    .tech-title {
        font-size: 18px;
        line-height: 18px;
    }
    .tech-img.desktop {
        display: none;
    }
    .tech-img.mob {
        display: block;
        max-width: 600px;
    }
    .tech-img {
        margin: 0 auto 20px;
    }
    .dl-tech {
        width:270px;
        height: 80px;
        margin: 40px auto 25px;
    }
    .dl-tech img {
        width:270px;
        height: 80px;
    }
    .solutions .row > div {
        margin: 25px 0;
    }
    .solutions .sign-form {
        width:100%;
    }
    .store-slider {
        margin: 30px 0 0;
    }
    .store-item {
        margin: 25px 0;
    }
    .footer-top .clearfix > div {margin: 40px 0 0;}
    .footer-top .clearfix > div:first-child {
        margin: 0;
    }
    .tech-top.row {
        margin: 0 0 75px;
    }
    .row {
        margin: 0;
    }
    .header-nav {
        display: none;
        background: #27CCC0;
        width: 300px;
        padding: 33px;
        color: #eefbfa;
        overflow-y: scroll;
        overflow-x: hidden;
        position: fixed;
        top:0;
        right: 0;
        z-index: 1000;
        height: 100%;
    }
    .nav {
        overflow: hidden;
    }
    .nav li {
        float: none;
        width:100%;
        position: relative;
    }
    .nav li.active a {
        opacity: 1;
    }
    .nav li a {
        opacity: 0.7;
        transition: opacity 0.2s ease;
        -webkit-transition: opacity 0.2s ease;
        -moz-transition: opacity 0.2s ease;
        font-size: 36px;
        line-height: 48px;
        font-family: 'Open Sans';
        font-weight: 700;
        letter-spacing: -1px;
        margin: 0;
        text-transform: none;
        padding: 0;
    }
    .nav > li > a:after {
        display: none;
    }
    .nav > li:hover .inner-nav {
        display: none;
    }
    .download-info img{
        width: 100%;
    }
    .download-info-text {
        margin-top: 30px;
        text-align: center;
    }
}
@media only screen and (max-width: 1000px) and (min-width: 690px) {
    .col-md-3 {
        width:50%;
        float: left;
    }
    .store-item {
        width:50%;
        float: left;
    }
}
@media (max-width:689px){
    .copy {
        float: none;
        margin: 0 0 25px 0;
        width:100%;
        display: block;
    }
    .footer-soc {
        float: none;
    }
    .footer-soc li:first-child {
        margin: 0;
    }
}
